* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* mobile view */

.about-hero__section {
    position: relative;
    margin-top: 7rem;
    background-color: rgba(0, 0, 0, 0.7);
    height: 60vh;
}

.about-hero__section::before {
    position: absolute;
    content: '';
    background: no-repeat 50% center / cover url(construction-website/images/pic3.jpg);
    width: 100%;
    height: 60vh;
    z-index: -1;
}

.about-hero__section .about-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.about-hero__section h1 {
    color: #F7F7F7;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(58, 71, 80, 0.4);
    padding: .6rem .8rem;
    border-radius: 10px;
}

.about-header {
    margin-top: 6rem;
    color: #3A4750;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.about-header::after {
    content: '';
    display: block;
    background-image: linear-gradient(to right, #EEEEEE, #f71143, #EEEEEE);
    width: 100%;
    height: .2vh;
    margin-top: 20px;
}

.about-content {
    margin-top: 6rem;
}

.values {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

.values .values-content {
    position: relative;
    background-color: #F7F7F7F7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icons {
    border: 1px solid transparent;
    position: absolute;
    width: 60px;
    height: 60px;
    top: -42px;
    z-index: 500;
    background-color: #f71143;
    padding: .8rem .6rem;
    border-radius: 50%;
    color: #ffebeb;
    text-align: center;
}

.about-content h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 1.5rem 0;
}

.about-content p {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    padding: 1.2rem;
}

.gallery {
    margin-top: 6rem;
    color: #3A4750;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.gallery::after {
    content: '';
    display: block;
    background-image: linear-gradient(to right, #EEEEEE, #9D0B28, #EEEEEE);
    width: 100%;
    height: .2vh;
    margin-top: 20px;
}

.nav-background {
    box-shadow: 0 10px 6px -6px #777;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.topnav {
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}


/* wrapper container for carousel */

.container {
    margin: 0 auto;
    padding: 0 1rem;
}

.carousel-main {
    background-color: #F7F7F7F7;
    padding: 4rem 0;
}

.slide-container {
    max-width: 1230px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.arrow {
    width: 2rem;
    margin: 0 1rem;
}

section {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

section .thumbnail {
    flex: 0 0 auto;
    object-fit: cover;
    cursor: pointer;
    overflow: hidden;
    transform: scale(.95);
    transition: all 400ms;
}

.carousel-main img {
    width: 100%;
    height: 20vh;
}

.card {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 15px 0 rgba(150, 150, 150, 0.61);
    width: 55vw;
    height: 40vh;
    margin: 1rem;
}

.card-show {
    position: relative;
    min-width: 100%;
}

.card-img {
    position: relative;
}

.card-img::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.card-img:hover::after {
    opacity: 1;
}

.card-title {
    padding: 1rem;
    text-align: center;
}

.card-title h2 {
    font-size: small;
}

.btn {
    background: none;
    color: #fff;
    font-size: 1.8rem;
    padding: 0.2rem 0;
    margin-top: 1rem;
    border: none;
    background: #f08700;
    width: 25%;
    transition: all 0.4s linear;
    height: 5%;
    cursor: pointer;
    outline: 0;
    -webkit-transition: all 0.4s lienar;
    -moz-transition: all 0.4s lienar;
    -ms-transition: all 0.4s lienar;
    -o-transition: all 0.4s lienar;
}

.btn:hover {
    opacity: 0.8;
}

.slide-wrapper {
    display: flex;
}

.card-slide {
    min-width: 100%;
    padding: 1rem;
    text-align: center;
}

.card-slide h2 {
    font-size: smaller;
}

.card-slide p {
    font-size: x-small;
    padding: 0.6rem 0;
}

.card-slide .btn {
    margin-top: 0rem;
    height: 15%;
    color: #fff;
    font-size: 1.8rem;
    padding: 0.1rem;
}


/* js related */

.slideRight {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.slideLeft {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

section::-webkit-scrollbar {
    height: 5px;
    width: 2px;
    border: 1px solid #d5d5d5;
    background: #d5d5d5;
}

section::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

section::-webkit-scrollbar-thumb {
    background-color: #9d0191;
    outline: 1px solid #eee;
    /* border-radius: 100px; */
}

section .thumbnail:hover {
    transform: scale(1);
}


/* carousel end */


/* Media Queries */


/* Desktop view */

@media (min-width: 992px) {
    .values {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    section {
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 1rem;
        /* -webkit-overflow-scrolling: touch; */
    }
    .carousel-main img {
        width: 100%;
        height: 20vh;
    }
    .card {
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 0 15px 0 rgba(150, 150, 150, 0.61);
        width: 20vw;
        height: 50vh;
        margin: 1rem;
    }
    section .thumbnail {
        flex: 0 0 auto;
        object-fit: cover;
        cursor: pointer;
        overflow: hidden;
        transform: scale(.95);
        transition: all .3s;
    }
    .slide-wrapper {
        display: flex;
    }
    .card-slide {
        min-width: 100%;
        padding: 2rem;
        text-align: center;
    }
    .card-slide h2 {
        margin: 0;
        font-size: small;
    }
    .card-slide p {
        font-size: smaller;
        padding: 0.6rem 0;
    }
    .card-slide .btn {
        margin-top: 0rem;
        height: 15%;
        color: #fff;
        font-size: 1.8rem;
        padding: 0.1rem;
    }
}


/* end @media for Desktop */


/* footer section */

.image img {
    width: 300px;
    height: 200px;
    border-radius: 20% 20% 20% 20%;
}

footer {
    margin-top: 20px;
    background-color: #171e25;
    padding-bottom: 3rem;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-container .list {
    margin: 20px;
    color: #F7F7F7;
    font-family: 'Lato', sans-serif;
}

footer .copy {
    text-align: center;
    margin-bottom: 20px;
    color: #F7F7F7;
}

footer h2 {
    color: rgb(192, 192, 192);
    font-family: 'Poppins', sans-serif;
}

.list a {
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.media a {
    color: white;
}

.list li {
    list-style: none;
}

.media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
}

.our-products {
    width: 200px;
}


/* footer social */

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 40%;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 40%;
}

.fa-instagram {
    background: #f56040;
    color: white;
    border-radius: 40%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-whatsapp {
    background: #4fce5d;
    color: white;
    border-radius: 40%;
}

@media (max-width: 992px) {
    .footer-container {
        justify-content: start;
    }
    .image img {
        width: 250px;
        /* border: double black; */
    }
}